/* GENERAL */

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: #efefef;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

section {
  background-color: white;
  padding: 60px 30px;
  border-radius: 20px;
}

p {
  line-height: 22px;
  margin-bottom: 20px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #393c6c;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #f3735f;
  margin-top: 70px;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}

/* Headers */

header {
  background-color: white;
  border-bottom: solid 1px;
  border-color: #f3735f;
  height: 80px;
  box-sizing: border-box;
}

header img {
  margin-left: 208px;
  height: 31px;
  padding: 24px;
}

/* MAIN */

body > main {
  padding: 60px;
}

.baseline {
  margin-top: 8px;
  text-align: center;
  color: #6c6c6c;
  font-size: 12px;
  line-height: 14px;
}

.Time {
  height: 45px;
  width: 400px;
  background-color: #8a98b1;
  border-radius: 10px;
  margin: auto;
}

.Time p {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 22px;
  color: #fff;
}

/* IMG */
div > img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  /* margin: 60px 8px; */
  margin: 9px;
  margin-top: 60px;
}

div > ul {
  color: #6c6c6c;
  size: 16px;
  line-height: 22px;
  margin-left: 15px;
}

footer {
  text-align: center;
  padding: 60px;
}
